@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Montserrat:wght@400;500&display=swap');


.centerDiv {
    border: 1px solid black;
    min-width: 400px;
    padding: 20px 55px;
    max-width: 1000px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    color: #000;
    box-shadow: 5px 5px 5px #00000031; 
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
  }
  .input { 
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    outline-color: transparent;
  }
  
  .uploadBtn {
    margin-top: 30px;
    width: 100%;
    height: 48px;
    /* border-color: transparent; */
    background-color: #af0a0a;
    color: whitesmoke;
    font-weight: 900;
  }
  .uploadBtn:hover {
    background-color: white;
    color: #bd132a;
    border: 2px solid #002f34;
  }
  .c1{
    width:185px;
    height: .1rem;
    background-color: black;
  }
  .in7{
    width: 100px;
  }
  @media only screen and (min-width: 1000px) {
    .in7{
       margin-left: 220px;
    }
    .in2{
      width: 300px;
    }
  }